<p-header >
  <div class="container-fluid" style="background-color:#2c2c2c;">
    <b class="row" align="center" style="color:#da3730;font-size:40px;text-align: center;padding:40px;">GST Billing App</b>
  </div>
</p-header>
<br>
<div class="container-fluid">
    <form class="col-lg-4 col-md-12 col-sm-12 ui-fluid" style="background-color:#008080;padding:20px">
        <div class="col-lg-12 col-md-12" style="padding:5px 0px 5px 20px">
            <b style="font-size:20px;color:white">Product Details</b>
        </div>
        <div class="col-lg-12 col-md-12" style="padding:20px">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fas fa-info"> </i></span>
                <input type="text" style="width:100%" pInputText placeholder="Product Code">         
            </div>
        </div>
        <div class="col-lg-12 col-md-12" style="padding:20px">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fas fa-tags"></i></span>
                <input type="text" style="width:100%" pInputText placeholder="Product Name">         
            </div>
        </div>
        <div class="col-lg-12 col-md-12" style="padding:20px">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><b>₹</b></span>
                <input type="text" style="width:100%" pInputText placeholder="Product Price">    
                <span class="ui-inputgroup-addon">.00</span>     
            </div>
        </div>
        <div class="col-lg-12 col-md-12" style="padding:20px">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fas fa-percent"></i></span>
                <input type="text" style="width:100%" pInputText placeholder="Product GST Percentage">         
            </div>
        </div>
        <br>
        <div class="ui-splitbutton-button col-lg-12" style="padding-left:20px">
            <button class="col-lg-4 ui-button-success" pButton type="button" (click)="count()" icon="fa-check" iconPos="right" label="Save"></button>
            <button class="col-lg-4 ui-button-info" pButton type="button" (click)="count()" icon="fas fa-sync" label="Update"></button>
        </div>
    </form>
    <br>
    <p-table>
            <ng-template pTemplate="header">
                <tr>
                    <th>Vin</th>
                    <th>Year</th>
                    <th>Brand</th>
                    <th>Color</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-columns="columns">
                <tr>
                    <td>ar</td>
                    <td>car</td>
                    <td>car</td>
                    <td>car</td>
                    <td><p-button (onClick)="count()" icon="fas fa-edit"></p-button></td>
                </tr>
            </ng-template>

    </p-table>
</div>
<div class="conatiner">


</div>



