<p-header >
    <div class="container-fluid" style="background-color:#2c2c2c;">
      <b class="row" align="center" style="color:#da3730;font-size:40px;text-align: center;padding:40px;">GST Billing App</b>
    </div>
</p-header>

<div>
    <div class="col-lg-12" style="padding:30px">
        <div class="row">
        <i class="col-lg-1 fas fa-search" style="font-size:30px"></i>
        <input id="search" class="col-lg-8 form-control " type="text" pInputText placeholder="Search by any field..." [(ngModel)]="search" required>   
           

        </div>
        <br>
        <div class="container-fluid">
        <div class="ui-g-8">
            <div class="col-lg-12 col-md-12" style="padding:5px 0px 5px 20px">
                <b style="font-size:20px;color:#4d4d4d">Selected Products</b>
            </div>
            <p-table [value]="selectProducts.prods">
                
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align:center">Product_Code</th>
                        <th style="text-align:center">Product_Name</th>
                        <th style="text-align:center">Product_Price (₹)</th>
                        <th style="text-align:center">Product_Gst (%)</th>
                        <th style="text-align:center">Quantity</th>
                        <th style="text-align:center">Total Price</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-iter>
                    <tr>
                        <td>{{iter.product_code}}</td>
                        <td>{{iter.product_name}}</td>
                        <td>{{iter.product_price}}</td>
                        <td>{{iter.product_gst}}</td>
                        <td><input class="form-control" type="number" pInputText [(ngModel)]="iter.prod_quant" ></td>
                        <td><input class="form-control" type="number" pInputText [(ngModel)]="iter.prod_quant*iter.product_gst*iter.product_price/iter.prod_frac" disabled></td>
                        <!-- <td>{{iter.prod_total}}</td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Total Gross Price</b></td>
                        <td>{{getGrossTotal()}}</td>
                      </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="ui-g-4">
        <div class="col-lg-12 col-md-12" style="padding:5px 0px 5px 20px">
            <b style="font-size:20px;color:#4d4d4d">Search Results</b>
        </div>
        <p-table [value]="allentries | filter:search" >
            <ng-template pTemplate="header">
                <tr  style="text-align:center;word-wrap:break-word;">
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Product Price (₹)</th>
                    <th>Product Gst (%)</th>
                    <th></th> 
                </tr>
            </ng-template>
            <br>
            <ng-template pTemplate="body" let-meta>
                <tr style="text-align:center;word-wrap:break-word;">
                    <td>{{meta.product_code}}</td>
                    <td>{{meta.product_name}}</td>
                    <td>{{meta.product_price}}</td>
                    <td>{{meta.product_gst}}</td>
                    <td  style="text-align:center"><button pButton type="button" (click)="selectProduct(meta)" label="Select"><i class="fas fa-upload"></i></button></td>
                </tr>
            </ng-template>
        </p-table>
        </div>
        </div>
</div>
</div>